<app-menu>

</app-menu>

<app-carousel>

</app-carousel>


<h2 align="center">Controle seu rebanho e toda a gestão da propriedade.</h2>


<div class="row">
    <div class="col-md-12">
        <h3 >Acreditamos na pecuária</h3>
        <hr>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h2></h2>
        <hr>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-3">
        <img class="img-fluid rounded-circle p-3" src="../../../assets/imagem4.jpg" alt="Card image">
        <p class="my-4" >
            <i>Cadastro de usuarios e propriedades</i>
        </p>
    </div>
    <div class="col-md-3">
        <img class="img-fluid rounded-circle p-3" src="../../../assets/imagem4.jpg" alt="Card image">
        <p class="my-4" >
            <i>Aumente o seu desempenho economico</i>
        </p>
    </div>
    <div class="col-md-3" >
        <img class="img-fluid rounded-circle p-3" src="../../../assets/imagem4.jpg" alt="Card image">
        <p class="my-4" >
            <i>Tome sempre a decisão correta</i>
        </p>
    </div>

    <div class="col-md-3" >
        <img class="img-fluid rounded-circle p-3" src="../../../assets/imagem4.jpg" alt="Card image">
        <p class="my-4" >
            <i>Simule o futuro cenário da sua propriedade</i>
        </p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h2></h2>
        <hr>
    </div>
</div>


<div class="bg-dark text-white" >
    <div class="container">
        <div class="row">
            <div class="p-4 col-md-3">
                <h2 class="mb-4 text-secondary">Mybeef</h2>
                <p class="text-white">Sistema online para o apoio a tomada de decições, que visa auxiliar na compreensão do efeito de indicadores zootécnicos na pecuária de corte.</p>
            </div>
            <div class="p-4 col-md-3">
                <h2 class="mb-4 text-secondary">Parceiros</h2>
                <ul class="list-unstyled">
                    <a href="#" class="text-white">Embrapa</a>
                    <br>
                    <a href="#" class="text-white"></a>
                    <br>
                    <a href="#" class="text-white"></a>
                    <br>
                    <a href="#" class="text-white"></a>
                </ul>
            </div>
            <div class="p-4 col-md-3">
                <h2 class="mb-4">Contato</h2>
                <p>
                    <a href="tel:+246 - 542 550 5462" class="text-white">
                        <i class="fa d-inline mr-3 text-secondary fa-phone"></i>+246 - 542 550 5462</a>
                </p>
                <p>
                    <a href="mailto:info@pingendo.com" class="text-white">
                        <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@pingendo.com</a>
                </p>
                <p>
                    <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank">
                        <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>365 Park Street, NY</a>
                </p>
            </div>
            <div class="p-4 col-md-3">
                <h2 class="mb-4 text-light">Fale conosco</h2>
                <form>
                    <fieldset class="form-group text-white">
                        <label for>Informe seu email:</label>
                        <input type="email" class="form-control" placeholder="Enter email"> </fieldset>
                    <button type="submit" class="btn btn-outline-secondary">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center text-white">© Copyright 2018 Embrapa CPPSUL - All rights reserved. </p>
            </div>
        </div>
    </div>
</div>



