<app-menu>

</app-menu>
<div class="mx-auto" style="width: 200px;">
<form>
  <h3>{{!medida.id?'Nova medida':'Editar medida'}}</h3>
</form>
<div class="row">
  <!--<h3 *ngIf="!post.id; else h3_edit">Criar Categoria</h3>
  <ng-template #h3_edit>
    <h3>Editar Categorias</h3>
  </ng-template>-->
  <form class="form-horizontal" (submit)="save()">
    <div class="form-group">
      <label for="tamanho" class="control-label">Tamanho propriedade</label>
      <input type="text" class="form-control" id="tamanho" name="medida" [(ngModel)]="medida.tamanho">
    </div>

    <div class="form-group">
      <label for="valor" class="control-label">Valor</label>
      <input type="text" class="form-control" id="valor" name="medida" [(ngModel)]="medida.tamanho">
    </div>

    <div class="form-group">
      <label for="ano" class="control-label">Ano</label>
      <input type="text" class="form-control" id="Ano" name="medida" [(ngModel)]="medida.tamanho">
    </div>

    <label for="exampleFormControlSelect1">Propiedades:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Propriedade1</option>
      <option>Propriedade2</option>
      <option>Propriedade3</option>
      <option>Propriedade4</option>
      <option>Propriedade5</option>
    </select>

    <app-button type="submit" color="primary">
      {{!medida.id?'Criar':'Editar'}}
    </app-button>
  </form>
  </div>
</div>